# Hugo default output directory

/public
/content/drafts
.debris
/hugo
/.idea
hugo.exe
*.lock
publish_to_ghpages.sh
*.test
*.prof
nohup.out
cover.out
*.swp
*.swo
*~
*.bench
*.debug
coverage*.out

dock.sh

GoBuilds
dist

vendor

## OS Files
# Windows
Thumbs.db
ehthumbs.db
Desktop.ini
$RECYCLE.BIN/

# OSX
.DS_Store
