[submodule "themes/ink-free"]
	path = themes/ink-free
	url = https://github.com/chollinger93/ink-free
[submodule "themes/minima"]
	path = themes/minima
	url = https://github.com/mivinci/hugo-theme-minima.git
